@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Definir reglas */
:root{
    --bg: #000000;
    --color1: rgb(0, 249, 164);
    --color2: #04ca87;
    --color3: #089c6a;
    --color4: rgb(12, 110, 77);
    --color5: #1bc6aa;
    --color6: #be1e5a; 
    --font-T: "Montserrat", sans-serif;
    --font-ST: "PT Sans", sans-serif;
    --font_P: "Merriweather", serif;
}

/* Estilos generales */
body {
    font-family: var(--font-1);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    background-color: #010101;
    color: #eee;
}

svg {
    width: 25px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-T);
}

/* Estilos del encabezado */
header {
    /* width: 95%; */
    /* max-width: 1200px; */
    margin: 30px 30px 0px 30px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    text-align: left;
}

.logo-glass {
    font-family: var(--font-T);
    font-size: 24px;
    color: var(--color1);
    text-transform: uppercase;
}

.h-regular {
    font-family: var(--font-ST);
    font-size: 30px;
    color: rgb(255, 255, 255, 0.7);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    backdrop-filter: blur(1px);
    margin-left: 20px;
    position: absolute;
    top: 1%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilos del menú */
.menu {
    font-family: var(--font-T);
    text-transform: uppercase;
    color: white;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
    cursor: pointer;
}

.dropdown {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    right: 0;
}

.dropdown li {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown li::before {
    content: "•";
    color: #eee;
}

.social-media-item a,
.cv-download {
    color: white;
    text-decoration: none;
}

.social-media-item::before,
.cv-download::before {
    color: #eee;
}

.cv-download {
    background-color: var(--color1);
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Estilos de los iconos de redes sociales */
.social-media-item a:hover {
    color: #0077b5;
}

.social-media-item a[href*="wa.me"]:hover {
    color: #25D366;
}

.social-media-item a[href*="instagram"]:hover {
    color: #C13584;
}

/* Estilos del menú hamburguesa */
.hamburger-menu {
    display: none;
    cursor: pointer;
    background-color: transparent; /* Añadimos esta línea */
    border: none; /* Añadimos esta línea */
    padding: 0; /* Añadimos esta línea */
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--color1); /* Cambiar el color de las líneas del menú hamburguesa */
}

figure {
    margin: 0; /* Restablece el margen a 0 */
    padding: 0; /* Restablece el relleno a 0 */
}

/* Estilos del slider */
.slider {
    margin-top: -50px;
}

.slider-items .item {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider-items .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-items .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 20%, transparent);
}

.slider-items .item figcaption {
    position: absolute;
    top: 10%;
    width: 90%;
    max-width: 80%;
    z-index: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    backdrop-filter: blur(1px);
    padding: 20px 20px 0px 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos específicos para el primer párrafo dentro de figcaption */
.slider-items .item figcaption p:first-child {
    font-family: var(--font-ST);
    font-size: 16px;
}

/* Estilos para los párrafos dentro de figcaption */
.slider-items .item figcaption p.description {
    font-family: var(--font_P);
    font-size: 20px;
}

.slider-items .item figcaption p:nth-child(1) {
    letter-spacing: 5px;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--color1);
    font-weight: bold;
    padding: 5px;
    width: 30%;
    text-align: center;
    align-self: flex-start;
}

.slider-items .item figcaption h2 {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-family: var(--font-T);
    color: var(--color1);
    align-self: flex-start;
}

.slider-items .item.active {
    opacity: 1;
    z-index: 10;
}

.service-list li {
    font-size: 16px; /* Tamaño de fuente para los elementos de la lista */
    color: white; /* Color similar al primer <p> */
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
    font-family: var(--font_P);
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider-items .item.active figcaption p:nth-child(1),
.slider-items .item.active figcaption h2,
.slider-items .item.active figcaption p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider-items .item.active figcaption h2 {
    animation-delay: 1s;
}

.slider-items .item.active figcaption p:nth-child(3) {
    animation-duration: 1.3s;
}

/* Estilos de las flechas del slider */
.arrows {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: var(--color1);
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

.arrows button:hover {
    background-color: var(--color5);
    color: white;
}

/* Estilos de la sección de miniaturas */
/* .thumbnail {
    position: absolute;
    bottom: 0;
    z-index: 11;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
} */

.thumbnail {
    position: fixed;
    bottom: 10px;
    z-index: 11;
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    display: none;
}

.thumbnail figure {
    width: 150px;
    height: 220px;
    filter: brightness(0.3);
    transition: filter 0.5s, transform 0.3s ease-in-out;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.thumbnail figure:hover {
    filter: brightness(1);
    transform: scale(1.1);
}

.thumbnail figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail figure.active {
    filter: brightness(1);
    color: var(--color1);
    font-size: large;
    font-weight: bold;
}

.thumbnail figure figcaption {
    position: absolute;
    inset: auto 10px 10px 10px;
    backdrop-filter: blur(20px);
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

/* Pantallas extra pequeñas (XS) */
@media screen and (max-width: 314px){
    .slider-items {
        position: absolute;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        top: 0px;
    }

    .hamburger-menu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        z-index: 100;
    }

    .dropdown {
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        z-index: 100;
    }

    .logo-glass {
        font-family: var(--font-T);
        font-size: 10px;
        color: var(--color1);
        text-transform: uppercase;
    }
    
    .h-regular {
        font-family: var(--font-ST);
        font-size: 12px;
        color: rgb(255, 255, 255, 0.7);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        border-radius: 10px;
        padding: 10px 10px 0px 10px;
        backdrop-filter: blur(1px);
        margin-left: 20px;
        position: absolute;
        top: 1%;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .thumbnail {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        justify-content: start;
    }
    .thumbnail figure {
        scroll-snap-align: center;
        width: 120px;
        height: 170px;
    }

    .thumbnail figure figcaption {
        font-size: 10px;
    }

    .slider-items .item figcaption h2 {
    font-size: 12px;
    }
    .slider-items .item figcaption p:nth-child(1) {
        font-size: 10px;
        width: 100%;
        align-self: center;
    }
    .slider-items .item figcaption {
        left: 50%;
        transform: translateX(-50%);
    }

    .slider-items .item figcaption p.description {
        font-family: var(--font_P);
        font-size: 10px;
    }

    .service-list li {
        font-size: 10px;
        color: white;
        margin-bottom: 10px;
        font-family: var(--font_P);
    }

    .menu > li > a {
        color: var(--color1); /* Cambiar al color deseado */
    }
}

/* Pantallas pequeñas (SM) */
@media screen and (min-width: 315px) and (max-width: 450px) {
    .slider-items {
        position: absolute;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        top: 0px;
    }

    .hamburger-menu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        z-index: 100;
    }

    .dropdown {
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        z-index: 100;
    }

    .logo-glass {
        font-family: var(--font-T);
        font-size: 12px;
        color: var(--color1);
        text-transform: uppercase;
    }
    
    .h-regular {
        font-family: var(--font-ST);
        font-size: 18px;
        color: rgb(255, 255, 255, 0.7);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        border-radius: 10px;
        padding: 10px 10px 0px 10px;
        backdrop-filter: blur(1px);
        margin-left: 20px;
        position: absolute;
        top: 1%;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .thumbnail {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        justify-content: start;
    }
    .thumbnail figure {
        scroll-snap-align: center;
        width: 100px;
        height: 150px;
    }

    .thumbnail figure figcaption {
        font-size: 12px;
    }

    .slider-items .item figcaption h2 {
        font-size: 16px;
    }
    .slider-items .item figcaption p:nth-child(1) {
        font-size: 14px;
        width: 100%;
        align-self: center;
    }
    .slider-items .item figcaption {
        left: 50%;
        transform: translateX(-50%);
    }

    .slider-items .item figcaption p.description {
        font-family: var(--font_P);
        font-size: 14px;
    }

    .service-list li {
        font-size: 12px;
        color: white;
        margin-bottom: 10px;
        font-family: var(--font_P);
    }

    .menu > li > a {
        color: var(--color1); /* Cambiar al color deseado */
    }
}

/* Media query para pantallas pequeñas */
@media screen and (min-width: 451px) and (max-width:768px) {
    .menu {
        color: var(--color1);
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        z-index: 100; /* Agregamos esta línea para asegurarnos de que el menú esté por encima de otros elementos */
    }

    .hamburger-menu {
        display: block;
    }

    .logo-glass {
        font-family: var(--font-T);
        font-size: 14px;
        color: var(--color1);
        text-transform: uppercase;
    }
    
    .h-regular {
        font-family: var(--font-ST);
        font-size: 20px;
        color: rgb(255, 255, 255, 0.7);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        border-radius: 10px;
        padding: 10px 10px 0px 10px;
        backdrop-filter: blur(1px);
        margin-left: 20px;
        position: absolute;
        top: 1%;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .thumbnail {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        justify-content: start;
    }

    .thumbnail figure {
        scroll-snap-align: center;
        width: 150px;
        height: 200px;
    }
    
    .slider-items .item figcaption h2 {
        font-size: 20px;
    }

    .dropdown {
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        z-index: 100;
    }

    .slider-items .item figcaption p:nth-child(1) {
        font-size: 14px;
        width: 40%;
    }

    .slider-items .item figcaption {
        font-size: 14px;
        z-index: 10;
        height: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .slider-items .item figcaption p.description {
        font-family: var(--font_P);
        font-size: 16px;
    }

    .service-list li {
        font-size: 12px;
        color: white;
        margin-bottom: 10px;
        font-family: var(--font_P);
    }

    .menu > li > a {
        color: var(--color1); /* Cambiar al color deseado */
    }
    
}
